{% if node.childcount > 0 %}
  {% for child in node.children %}
    {% if child.expanded %}
      <div id="node_{{ child.id }}" class="list-group-item p-0 pl-1 selectable">
        <span class="fa fa-stop handle text-muted"></span>
        {{ child.id }}
        <div class='d-inline' contentEditable="true">{{ child.node.text }}</div>

        <div class="list-group task pl-2 my-1">
          {% if child.childcount > 0 %}
            {% include 'task/components/tasknode.html' with node=child %}
          {% endif %}
        </div>

      </div>
    {% endif %}
  {% endfor %}
{% endif %}
